<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haoutil.xposed.haoblocker">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RuleActivity" />
        <activity android:name=".activity.SMSActivity" />

        <activity-alias
            android:name=".activity.ShowInAppDrawer"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="com.haoutil.xposed.haoblocker.util.BlockerDbProvider"
            android:authorities="com.haoutil.xposed.haoblocker.provider.BlockProvider"
            android:exported="true"
            android:multiprocess="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>
